// font-size
$body_font_size : 1rem;	// 16px
$body_line_height : 1.5rem;

// layout
$max-width: 75rem;

// spacing
$pad: 1.25rem;

$margin-bottom: 0.5rem;

// screen sizes
$tablet: 48rem;	//	768px;
$medium-screen: 80rem;	//	1280px;
$large-screen: 90rem;	//	1440px;






// colors
$wide_bg : #999999;

$bg : #e5e5e5;

$body_color	:olive;

$off_white: #fbfbfb;

$grey: #999999;

$light_grey: #CCC;




$body_font : 'Arial', sans-serif;
$heading_font : 'Arial', sans-serif;






// headings
$h1-size:           1.8em; // .alpha
$h2-size:           1.5em; // .beta
$h3-size:           1.3em; // .gamma
$h4-size:           1em; // .delta
$h5-size:           1em; // .epsilon
$h6-size:           1em; // .zeta


// links
$link_color: $body_color;
$link_hover_color: $body_color;



$milli-size:        0.75rem;
$micro-size:        0.625rem;


// font-family:'FrutigerLTW01-55Roman';
// font-family:'Frutiger LT W01 65 Bold';
